In [113]:
# Dependencies and Setup
from __future__ import print_function
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import gmaps
import os
from pprint import pprint
from scipy.stats import linregress
from config import g_key

Store Part I results into DataFrame

Load the csv exported in Part I to a DataFrame

In [114]:
# Load CSV file generated from WeatherPy Folder
weather_data_to_load = "../WeatherPy/output_data/cities.csv"
weather_data = pd.read_csv(weather_data_to_load)
weather_data.head(20)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Feels like,Name
0,0,komsomolskiy,75,UZ,1580076193,86,40.43,71.72,37.40,2.24,29.77,Yangi Marg`ilon
1,1,nanortalik,100,GL,1580076193,70,60.14,-45.24,22.42,14.45,8.80,Nanortalik
2,2,tuktoyaktuk,75,CA,1580076194,67,69.45,-133.04,-22.00,5.82,-32.28,Tuktoyaktuk
3,3,cape%20town,20,ZA,1580075963,72,-33.93,18.42,62.01,6.93,57.09,Cape Town
4,4,khatanga,93,RU,1580076194,98,71.97,102.50,-21.46,1.03,-28.93,Khatanga
5,5,manta,75,EC,1580076194,78,-0.95,-80.73,82.40,13.87,84.85,Manta
6,6,aklavik,90,CA,1580076194,67,68.22,-135.01,-23.80,2.24,-32.08,Aklavik
7,7,bethel,75,US,1580076194,56,41.37,-73.41,44.60,9.17,32.23,Bethel
8,8,torbay,75,CA,1580076194,58,47.67,-52.73,30.00,9.17,17.38,Torbay
9,9,hilo,20,US,1580075955,51,19.73,-155.09,82.40,3.36,73.62,Hilo
10,10,mataura,100,NZ,1580076194,74,-46.19,168.86,66.00,4.00,66.11,Mataura
11,11,victoria,40,HK,1580076172,71,22.29,114.16,53.01,13.87,42.06,Hong Kong
12,12,mandera,58,KE,1580076008,43,3.94,41.87,88.32,3.40,90.82,Mandera
13,13,ambon,100,ID,1580076028,76,-3.70,128.18,81.14,4.56,87.69,Ambon
14,14,bathsheba,40,BB,1580076195,65,13.22,-59.52,82.40,9.17,84.58,Bathsheba
15,15,mar%20del%20plata,68,AR,1580075944,53,-38.00,-57.56,75.20,16.11,62.56,Mar del Plata
16,16,bambous%20virieux,75,MU,1580076195,83,-20.34,57.76,77.00,10.29,77.38,Bambous Virieux
17,17,hobyo,68,SO,1580076195,77,5.35,48.53,79.47,18.99,77.23,Hobyo
18,18,rikitea,0,PF,1580076196,79,-23.12,-134.97,78.87,13.20,80.01,Rikitea
19,19,gorontalo,44,ID,1580076196,95,0.54,123.06,74.55,2.42,82.42,Gorontalo

In [115]:
#cut unneeded columns
to_drop = ['Unnamed: 0']
weather_data.drop(to_drop, inplace=True, axis=1)
weather_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Feels like,Name
0,komsomolskiy,75,UZ,1580076193,86,40.43,71.72,37.40,2.24,29.77,Yangi Marg`ilon
1,nanortalik,100,GL,1580076193,70,60.14,-45.24,22.42,14.45,8.80,Nanortalik
2,tuktoyaktuk,75,CA,1580076194,67,69.45,-133.04,-22.00,5.82,-32.28,Tuktoyaktuk
3,cape%20town,20,ZA,1580075963,72,-33.93,18.42,62.01,6.93,57.09,Cape Town
4,khatanga,93,RU,1580076194,98,71.97,102.50,-21.46,1.03,-28.93,Khatanga
...,...,...,...,...,...,...,...,...,...,...,...
560,gondanglegi,28,ID,1580077181,92,-7.75,112.01,73.99,4.32,79.99,Gondanglegi
561,nouakchott,46,MR,1580077181,56,18.09,-15.98,73.40,5.82,72.25,Nouakchott
562,albufeira,0,PT,1580077181,87,37.09,-8.25,57.20,3.36,55.71,Albufeira
563,geraldton,33,AU,1580077181,93,-28.77,114.60,62.60,16.26,56.91,Geraldton
564,kumano,75,JP,1580077182,80,34.34,132.59,46.40,21.92,29.17,Kumano

Humidity Heatmap

Configure gmaps. Use the Lat and Lng as locations and Humidity as the weight. Add Heatmap layer to map.

In [72]:
from IPython.display import display
import ipywidgets as widgets
import gmaps
# Import API key
from config import g_key
# Configure gmaps
gmaps.configure(api_key=g_key)

In [118]:
# Set the locations
locations = weather_data[["Lat", "Lng"]].astype(float)

# Set the humidity
humidity = weather_data["Humidity"].astype(float)


# Set dimensions for graph
figure_layout = {
     'width' : '1000px',
     'height':'400px',
     'border':'1px solid black',
     'padding':'1px',
     'margin':'0 auto 0 auto'
}

fig = gmaps.figure(layout=figure_layout)

fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=100,
                                   point_radius=5)


fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

Create new DataFrame fitting weather criteria

Narrow down the cities to fit weather conditions. Drop any rows will null values.

In [119]:
# Create criteria for the perfect vacation climate
# A max temperature lower than 80 degrees but higher than 65.
crit_temperature = weather_data['Max Temp'] < 80
crit_temperature = weather_data['Max Temp'] > 65
crit_windSpeed = weather_data['Wind Speed'] < 10
crit_cloudiness = weather_data['Cloudiness'] == 0
final_criteria = crit_temperature & crit_windSpeed & crit_cloudiness 

# Use boolean indexing to filter the weather_df dataframe
ideal_weather_df = weather_data[final_criteria]
ideal_weather_df = ideal_weather_df.dropna()
ideal_weather_df = ideal_weather_df.reset_index()
ideal_weather_df.head(10)

,index,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Feels like,Name
0,73,tumut,0,AU,1580076204,44,-35.30,148.22,68.94,2.53,66.61,Tumut
1,109,kavieng,0,PG,1580076360,74,-2.57,150.80,83.16,5.46,89.85,Kavieng
2,112,castro,0,BR,1580076361,48,-24.79,-50.01,79.25,0.81,81.30,Castro
3,123,broken%20hill,0,AU,1580076362,40,-31.95,141.43,71.60,9.17,65.50,Broken Hill
4,225,mocuba,0,MZ,1580076527,97,-16.84,36.99,72.48,3.13,79.18,Mocuba
5,233,asifabad,0,IN,1580076527,35,19.37,79.28,65.53,1.66,61.86,Asifabad
6,289,san%20vicente,0,AR,1580076687,65,-26.62,-54.13,80.01,2.80,84.69,San Vicente
7,304,taltal,0,CL,1580076689,69,-25.40,-70.48,72.10,6.22,72.39,Taltal
8,325,eldorado,0,BR,1580076842,57,-23.79,-54.28,87.12,2.39,93.40,Eldorado
9,336,srandakan,0,ID,1580076844,91,-7.94,110.25,74.50,2.64,81.52,Srandakan

Hotel Map

Store into variable named hotel_df. Add a "Hotel Name" column to the DataFrame. Set parameters to search for hotels with 5000 meters. Hit the Google Places API for each city's coordinates. Store the first Hotel result into the DataFrame. Plot markers on top of the heatmap.

In [120]:
# create hotel_df with hotel name column
hotel_df = pd.DataFrame(ideal_weather_df, columns=['City', 'Country', 'Lat', 'Lng', 'Max Temp', 'Hotel Name'])
hotel_df

             City Country    Lat     Lng  Max Temp  Hotel Name
0           tumut      AU -35.30  148.22     68.94         NaN
1         kavieng      PG  -2.57  150.80     83.16         NaN
2          castro      BR -24.79  -50.01     79.25         NaN
3   broken%20hill      AU -31.95  141.43     71.60         NaN
4          mocuba      MZ -16.84   36.99     72.48         NaN
5        asifabad      IN  19.37   79.28     65.53         NaN
6   san%20vicente      AR -26.62  -54.13     80.01         NaN
7          taltal      CL -25.40  -70.48     72.10         NaN
8        eldorado      BR -23.79  -54.28     87.12         NaN
9       srandakan      ID  -7.94  110.25     74.50         NaN
10         namibe      AO -15.20   12.15     75.06         NaN
11      cintalapa      MX  16.70  -93.73     84.85         NaN
12        winneba      GH   5.35   -0.62     82.40         NaN
13         koumac      NC -20.57  164.28     77.67         NaN
14         mudgee      AU -32.59  149.59     79.00         NaN
15        mandasa      IN  18.87   84.47     65.28         NaN
16        ahipara      NZ -35.17  173.17     68.36         NaN
17       celestun      MX  20.87  -90.40     75.70         NaN
18      taoudenni      ML  22.68   -3.98     75.69         NaN
19    villamontes      BO -21.25  -63.50     99.70         NaN
20          kandi      BJ  11.13    2.94     72.21         NaN
21  narasannapeta      IN  18.42   84.05     67.60         NaN
22      roebourne      AU -20.78  117.13     86.94         NaN

In [108]:
# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "lodging",
    "keyword": "Hotel",
    "key": g_key
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from hotel_df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "Hotel" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
    #print(name_address.url)

    # convert to json
    name_address = name_address.json()
    #print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
        #hotel_df.loc[index, "Airport Address"] = name_address["results"][0]["vicinity"]
        #hotel_df.loc[index, "Airport Rating"] = name_address["results"][0]["rating"]
    except (KeyError, IndexError):
        print("Missing field/result... skipping.")
hotel_df.info()

Missing field/result... skipping.
Missing field/result... skipping.
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 6 columns):
City          23 non-null object
Country       23 non-null object
Lat           23 non-null float64
Lng           23 non-null float64
Max Temp      23 non-null float64
Hotel Name    21 non-null object
dtypes: float64(3), object(3)
memory usage: 1.2+ KB

In [110]:
 # NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [112]:

# Add marker layer ontop of heat map

figure_layout = {
    'width': '900px',
    'height': '600px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout,zoom_level=2,center=(15,25))

# Create hotel symbol layer
hotel_layer = gmaps.marker_layer(
    locations,info_box_content=[info_box_template.format(**row) for index, row in hotel_df.iterrows()]
)


# Add layer
fig.add_layer(heatmap_layer)
fig.add_layer(hotel_layer)
# Display figure
fig

Figure(layout=FigureLayout(border='1px solid black', height='600px', margin='0 auto 0 auto', padding='1px', wi…